h2 {
    color: blue;
    font-family: Arial;
}
p {
    color:maroon;
    font-size: 12px;
}
.heading{
    color: teal;
}
h2, .uppercase{
    text-transform: uppercase;
}
h1{
    text-transform: uppercase;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    color: rgb(10, 81, 81);
}
#about{
    font-family: cursive;
    text-transform: capitalize;
}
h2.contactform{
    font-family: bold;
}
.list li{
    color: green;
}
body{
    font-family: Arial;
    background-color: rgb(222, 240, 255);
}
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 5px;
    padding: 10px;
}
.profileimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    padding-bottom: 50px;
    
}
#aboutsection, #accomplishementssection, #contactsection{
    padding: 30px;
    margin: 0 auto;
}

.topnav .icon {

    display: none;
  
  }
  
  /* When the screen is less than 600 pixels wide, hide all links. Show the icon that should open and close the nav (.icon) */
  
  @media only screen and (max-width: 600px) {
  
    .topnav a {display: none;}
  
    .topnav a.icon {
  
      float: right;
  
      display: block;
  
    }
  
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the use clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  
  @media only screen and (max-width: 600px) {
  
    .topnav.responsive {
  
      position: fixed;
  
  }
  
    .topnav.responsive a.icon {
  
      position: absolute;
  
      right: 0;
  
      top: 0;
  
    }
  
    .topnav.responsive a {
  
      float: none;
  
      display: block;
  
      text-align: left;
  
    }
  
  }

